@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&family=Ubuntu:wght@300&display=swap');

* {
	margin:0;
	padding:0;
	font-family: 'Ubuntu', sans-serif;
	color:#2d2926;
}

#main-body .left-col {
	overflow-y: scroll;
	scroll-behavior: smooth;
}

#navbar-custom {
	background-color: #2d2926 !important;
	width: 12%; 
}

#navbar-custom .navbar-nav {
	display: block;
}

.navbar-brand .logo-mine {
	width:80px;
}

.navbar-nav i {
	color: #fff;
	font-size: 30px;
	transition:all 0.5s ease;
}

.navbar-nav i:hover {
	color: #e94c3d;
	font-size:40px;
}

.me-bg {
	background: url(assets/images/img.jpg);
    background-size: cover;
    width: 544px;
    height: 900px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 0 0 auto;
	position: relative;
	z-index: 999;
}

#intro h1 {
	font-family: 'Rajdhani', sans-serif;
	font-size: 90px;
}

#intro p {
    font-size: 30px;
    width: 95%;
    margin: 0 0 0 auto;
}

.padding-r {
	padding-right:5% !important;
}

.padding-l {
	padding-left:5% !important;
}

.im-herald {
	color: #e94c3d;
}

.career {
	font-weight:bold;
	color:#e94c3d;
}

#tools .img-group {
	flex: 0 0 14%;
	text-align: center;
}

#tools h1 {
	font-family: 'Rajdhani', sans-serif;
	font-size:60px;
}

.custom-width {
	width: 80%;
    margin: 45px auto 0 auto;
}

.img-group p {
	font-size: 30px;
    font-weight: bold;
}
